body {
  background-color: black;
  text-align: center;
  color: white;
}

header h1 {
  font-weight: normal;
  font-size: 50px;
  font-family: Verdana;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  font-family: Verdana;
}

h3 a {
  font-size: 16px;
  color: aquamarine;
}

p {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}

.footer {
  text-align: right;
}